@model HomeDestination.Models.FilterDom

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FilterDom</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Namjestaj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Namjestaj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parking)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WiFi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WiFi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lift)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lift)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Klima)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klima)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balkon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balkon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Novogradnja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Novogradnja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alarm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alarm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Videonadzor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Videonadzor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teretana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teretana)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Citaona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Citaona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kantina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kantina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VesMasina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VesMasina)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
