@model HomeDestination.Models.Dojam

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dojam</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SmjestajId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmjestajId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KorisnikId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KorisnikId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ocjena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ocjena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Komentar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Komentar)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
