@model HomeDestination.Models.Smjestaj

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Smjestaj</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vrsta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vrsta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cijena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cijena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kvadratura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kvadratura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lokacija)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lokacija)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PogododnoStudentima)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PogododnoStudentima)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrojCimera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrojCimera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datum)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
