@model appHomeDestination.Models.Rezervacija

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rezervacija</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SmjestajId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmjestajId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KorisnikId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KorisnikId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NacinPlacanja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NacinPlacanja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dugovanja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dugovanja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatDolaska)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatDolaska)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatOdlaska)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatOdlaska)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
